<!DOCTYPE html>
<html>
  <head>
    <title>FIFA WC Qualified Countries</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">FIFA WC Qualified Countries</a>
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading">[World Cup 2018]</div>
        <ul class="list-group">Teams
          <!--  -->
          <form class="data"> data
            <button type="add" name="add">ADD</button>
            <a rel="stylesheet" href="http://www.fifa.com/worldcup/groups/index.html">Groups</a>
            <a id="statistics">Statistics</a>
        <div id="log">
        </div>
          </form>

        </ul>
      </div>
    </div>
  </body>
</html>
