<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
			<title>JSON To HTML using codebeautify.org</title>
		</head>
		<body>
			<table border=1>
				<thead>
					<tr>
						<th>Team</th>
						<th>Group</th>
						<th>Previous </th>
						<th>COLUMN4</th>
						<th>COLUMN5</th>
						<th>COLUMN6</th>
						<th>COLUMN7</th>
						<th>COLUMN8</th>
						<th>COLUMN9</th>
						<th>COLUMN10</th>
						<th>COLUMN11</th>
						<th>COLUMN12</th>
						<th>COLUMN13</th>
						<th>COLUMN14</th>
						<th>COLUMN15</th>
						<th>COLUMN16</th>
						<th>COLUMN17</th>
						<th>COLUMN18</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>appearances</td>
						<td>Previous </td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>titles</td>
						<td>Previous</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> finals</td>
						<td>Previous</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> semifinals</td>
						<td>Current </td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>FIFA rank</td>
						<td>First match </td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>against</td>
						<td>Match index</td>
						<td>history with </td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>first opponent</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> W-L</td>
						<td>history with</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> first opponent</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> goals</td>
						<td>Second match</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> against</td>
						<td>history with</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> second opponent</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> W-L</td>
						<td>history with</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> second opponent</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> goals</td>
						<td>Third match</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> against</td>
						<td>history with</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> third opponent</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> W-L</td>
						<td>history with</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> third opponent</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td> goals</td>
						<td></td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>Russia</td>
						<td>A</td>
						<td>10</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>65</td>
						<td>Saudi Arabia</td>
						<td>33</td>
						<td>-1</td>
						<td>-2</td>
						<td>Egypt</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Uruguay</td>
						<td>0</td>
						<td>0</td>
						<td></td>
					</tr>
					<tr>
						<td>Saudi Arabia</td>
						<td>A</td>
						<td>4</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>63</td>
						<td>Russia</td>
						<td>34</td>
						<td>1</td>
						<td>2</td>
						<td>Uruguay</td>
						<td>1</td>
						<td>1</td>
						<td>Egypt</td>
						<td>-5</td>
						<td>-5</td>
						<td></td>
					</tr>
					<tr>
						<td>Egypt</td>
						<td>A</td>
						<td>2</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>31</td>
						<td>Uruguay</td>
						<td>34</td>
						<td>-1</td>
						<td>-2</td>
						<td>Russia</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Saudi Arabia</td>
						<td>5</td>
						<td>5</td>
						<td></td>
					</tr>
					<tr>
						<td>Uruguay</td>
						<td>A</td>
						<td>12</td>
						<td>2</td>
						<td>2</td>
						<td>5</td>
						<td>21</td>
						<td>Egypt</td>
						<td>33</td>
						<td>1</td>
						<td>2</td>
						<td>Saudi Arabia</td>
						<td>-1</td>
						<td>-1</td>
						<td>Russia</td>
						<td>0</td>
						<td>0</td>
						<td></td>
					</tr>
					<tr>
						<td>Porugal</td>
						<td>B</td>
						<td>6</td>
						<td>0</td>
						<td>0</td>
						<td>2</td>
						<td>3</td>
						<td>Spain</td>
						<td>35</td>
						<td>-12</td>
						<td>-31</td>
						<td>Morocco</td>
						<td>-1</td>
						<td>-2</td>
						<td>Iran</td>
						<td>2</td>
						<td>5</td>
						<td></td>
					</tr>
					<tr>
						<td>Spain</td>
						<td>B</td>
						<td>14</td>
						<td>1</td>
						<td>1</td>
						<td>2</td>
						<td>6</td>
						<td>Portugal</td>
						<td>36</td>
						<td>12</td>
						<td>31</td>
						<td>Iran</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Morocco</td>
						<td>5</td>
						<td>7</td>
						<td></td>
					</tr>
					<tr>
						<td>Morocco</td>
						<td>B</td>
						<td>4</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>40</td>
						<td>Iran</td>
						<td>36</td>
						<td>-2</td>
						<td>-2</td>
						<td>Portugal</td>
						<td>1</td>
						<td>2</td>
						<td>Spain</td>
						<td>-5</td>
						<td>-7</td>
						<td></td>
					</tr>
					<tr>
						<td>IRAN</td>
						<td>B</td>
						<td>4</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>32</td>
						<td>Morocco</td>
						<td>35</td>
						<td>2</td>
						<td>2</td>
						<td>Spain</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Portugal</td>
						<td>-2</td>
						<td>-5</td>
						<td></td>
					</tr>
					<tr>
						<td>France</td>
						<td>C</td>
						<td>14</td>
						<td>1</td>
						<td>2</td>
						<td>5</td>
						<td>9</td>
						<td>Australia</td>
						<td>37</td>
						<td>1</td>
						<td>6</td>
						<td>Peru</td>
						<td>-1</td>
						<td>-1</td>
						<td>Denmark</td>
						<td>4</td>
						<td>9</td>
						<td></td>
					</tr>
					<tr>
						<td>Australia</td>
						<td>C</td>
						<td>4</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>39</td>
						<td>France</td>
						<td>38</td>
						<td>-1</td>
						<td>-6</td>
						<td>Denmark</td>
						<td>-1</td>
						<td>-3</td>
						<td>Peru</td>
						<td>N/A</td>
						<td>N/A</td>
						<td></td>
					</tr>
					<tr>
						<td>Peru</td>
						<td>C</td>
						<td>4</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>11</td>
						<td>Denmark</td>
						<td>38</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>France</td>
						<td>1</td>
						<td>1</td>
						<td>Australia</td>
						<td>N/A</td>
						<td>N/A</td>
						<td></td>
					</tr>
					<tr>
						<td>Denmark</td>
						<td>C</td>
						<td>4</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>12</td>
						<td>Peru</td>
						<td>37</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Australia</td>
						<td>1</td>
						<td>3</td>
						<td>France</td>
						<td>-4</td>
						<td>-9</td>
						<td></td>
					</tr>
					<tr>
						<td>Argentina</td>
						<td>D</td>
						<td>16</td>
						<td>2</td>
						<td>5</td>
						<td>5</td>
						<td>4</td>
						<td>Iceland</td>
						<td>39</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Croatia</td>
						<td>1</td>
						<td>0</td>
						<td>Nigeria</td>
						<td>3</td>
						<td>1</td>
						<td></td>
					</tr>
					<tr>
						<td>Iceland</td>
						<td>D</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>22</td>
						<td>Argentina</td>
						<td>40</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Nigeria</td>
						<td>1</td>
						<td>3</td>
						<td>Croatia</td>
						<td>-3</td>
						<td>-9</td>
						<td></td>
					</tr>
					<tr>
						<td>Croatia</td>
						<td>D</td>
						<td>4</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>17</td>
						<td>Nigeria</td>
						<td>40</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Argentina</td>
						<td>-1</td>
						<td>0</td>
						<td>Iceland</td>
						<td>3</td>
						<td>9</td>
						<td></td>
					</tr>
					<tr>
						<td>Nigeria</td>
						<td>D</td>
						<td>5</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>50</td>
						<td>Croatia</td>
						<td>39</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Iceland</td>
						<td>-1</td>
						<td>-3</td>
						<td>Argentina</td>
						<td>-3</td>
						<td>-1</td>
						<td></td>
					</tr>
					<tr>
						<td>Brazil</td>
						<td>E</td>
						<td>20</td>
						<td>5</td>
						<td>7</td>
						<td>11</td>
						<td>2</td>
						<td>Switzerland</td>
						<td>41</td>
						<td>1</td>
						<td>2</td>
						<td>Costarica</td>
						<td>8</td>
						<td>19</td>
						<td>Serbia</td>
						<td>1</td>
						<td>1</td>
						<td></td>
					</tr>
					<tr>
						<td>Switzerland</td>
						<td>E</td>
						<td>10</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>8</td>
						<td>Brazil</td>
						<td>42</td>
						<td>-1</td>
						<td>-2</td>
						<td>Serbia</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Costarica</td>
						<td>0</td>
						<td>1</td>
						<td></td>
					</tr>
					<tr>
						<td>Costarica</td>
						<td>E</td>
						<td>4</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>26</td>
						<td>Serbia</td>
						<td>42</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Brazil</td>
						<td>-8</td>
						<td>-19</td>
						<td>Switzerland</td>
						<td>0</td>
						<td>-1</td>
						<td></td>
					</tr>
					<tr>
						<td>Serbia</td>
						<td>E</td>
						<td>11</td>
						<td>0</td>
						<td>0</td>
						<td>2</td>
						<td>37</td>
						<td>Costarica</td>
						<td>41</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Switzerland</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Brazil</td>
						<td>-1</td>
						<td>-1</td>
						<td></td>
					</tr>
					<tr>
						<td>Germany</td>
						<td>F</td>
						<td>18</td>
						<td>4</td>
						<td>8</td>
						<td>13</td>
						<td>1</td>
						<td>Mexico</td>
						<td>43</td>
						<td>4</td>
						<td>13</td>
						<td>Sweden</td>
						<td>2</td>
						<td>10</td>
						<td>Korea</td>
						<td>1</td>
						<td>0</td>
						<td></td>
					</tr>
					<tr>
						<td>Mexico</td>
						<td>F</td>
						<td>15</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>16</td>
						<td>Germany</td>
						<td>44</td>
						<td>-4</td>
						<td>-13</td>
						<td>Korea</td>
						<td>1</td>
						<td>12</td>
						<td>Sweden</td>
						<td>-2</td>
						<td>-3</td>
						<td></td>
					</tr>
					<tr>
						<td>Sweden</td>
						<td>F</td>
						<td>11</td>
						<td>0</td>
						<td>1</td>
						<td>4</td>
						<td>18</td>
						<td>Korea</td>
						<td>44</td>
						<td>1</td>
						<td>2</td>
						<td>Germany</td>
						<td>-2</td>
						<td>-10</td>
						<td>Mexico</td>
						<td>2</td>
						<td>3</td>
						<td></td>
					</tr>
					<tr>
						<td>Korea</td>
						<td>F</td>
						<td>9</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>59</td>
						<td>Sweden</td>
						<td>43</td>
						<td>-1</td>
						<td>-2</td>
						<td>Mexico</td>
						<td>-1</td>
						<td>-10</td>
						<td>Germany</td>
						<td>-1</td>
						<td>0</td>
						<td></td>
					</tr>
					<tr>
						<td>Belgium</td>
						<td>G</td>
						<td>12</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>5</td>
						<td>Panama</td>
						<td>45</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Tunisia</td>
						<td>0</td>
						<td>0</td>
						<td>England</td>
						<td>-17</td>
						<td>-70</td>
						<td></td>
					</tr>
					<tr>
						<td>Panama</td>
						<td>G</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>56</td>
						<td>Belgium</td>
						<td>46</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>England</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Tunisia</td>
						<td>N/A</td>
						<td>N/A</td>
						<td></td>
					</tr>
					<tr>
						<td>Tunisia</td>
						<td>G</td>
						<td>4</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>27</td>
						<td>England</td>
						<td>46</td>
						<td>-1</td>
						<td>-2</td>
						<td>Belgium</td>
						<td>0</td>
						<td>0</td>
						<td>Panama</td>
						<td>N/A</td>
						<td>N/A</td>
						<td></td>
					</tr>
					<tr>
						<td>England</td>
						<td>G</td>
						<td>14</td>
						<td>1</td>
						<td>1</td>
						<td>2</td>
						<td>15</td>
						<td>Tunisia</td>
						<td>45</td>
						<td>1</td>
						<td>2</td>
						<td>Panama</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Belgium</td>
						<td>17</td>
						<td>70</td>
						<td></td>
					</tr>
					<tr>
						<td>Poland</td>
						<td>H</td>
						<td>7</td>
						<td>0</td>
						<td>0</td>
						<td>2</td>
						<td>7</td>
						<td>Senegal</td>
						<td>47</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Columbia</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Japan</td>
						<td>2</td>
						<td>3</td>
						<td></td>
					</tr>
					<tr>
						<td>Senegal</td>
						<td>H</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>23</td>
						<td>Poland</td>
						<td>48</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Japan</td>
						<td>2</td>
						<td>3</td>
						<td>Columbia</td>
						<td>0</td>
						<td>0</td>
						<td></td>
					</tr>
					<tr>
						<td>Columbia</td>
						<td>H</td>
						<td>5</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>13</td>
						<td>Japan</td>
						<td>48</td>
						<td>2</td>
						<td>2</td>
						<td>Poland</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>Senegal</td>
						<td>0</td>
						<td>0</td>
						<td></td>
					</tr>
					<tr>
						<td>Japan</td>
						<td>H</td>
						<td>5</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>55</td>
						<td>Columbia</td>
						<td>47</td>
						<td>-2</td>
						<td>-2</td>
						<td>Senegal</td>
						<td>-2</td>
						<td>-3</td>
						<td>Poland</td>
						<td>-2</td>
						<td>-3</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</body>
	</html>
